/* GENERAL */

/* <link rel="stylesheet" href="mediaqueries.css"> */




@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');


@import url('https://fonts.googleapis.com/css?family=Lato:400');

/***
    The new CSS reset - version 1.11 (last updated 20.9.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
/* html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
} */

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
    box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
    box-sizing: border-box;
}

/*CSS RESET END, CONTINUE WITH YOUR DAY KATA*/








/*animations*/
@keyframes slide {
    from {
        transform: translateX();
    }
    to {
        
        transform: translateX(-80%);

    }
}

@keyframes i-believe-i-can-fly {
    from {
        transform: translateX();
    }
    to {
        
        transform: translateX(-200%);

    }
}



@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}




@keyframes rotate {
    0% {
        transform: rotateZ();
    }
    50% {
        transform: rotateZ(10deg);
    }
    0% {
        transform: rotate();
    }
}



@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.4);
    }
}



@keyframes rotate360 {
    0% {
        transform: rotateZ();
    }
    50% {
        transform: rotateZ(360deg);
    }
    100% {
        transform: rotateZ(720deg);
    }
}




.nav-item {
    position: relative;
    color: #000000;
}

.active-nav {
    height: 3px;
    background: #73628A;
    border-radius: 1rem;
    position: absolute;
    left: 0;
    margin-top: -5px;
    width: 100%;
}


.logo {
  font-family: 'Michroma', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  
}


/*transistion*/

a, .btn {
    transition: all 300ms ease;
}





/*desktop nav */

.stretch-arc img {
    width: 100%;
    margin-top: -2vh;
    z-index: -1;
}

nav, .nav-links {
    display: flex;
}


nav {
    align-self: center;
    justify-content: space-around;
    align-items: center;
    margin-left: 8%;
    margin-right: 6%;
    margin-top: -10%;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding-left: 0px;

}


.nav-links a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: #73628A;
    /* text-decoration: underline;
    text-underline-offset: 0.4rem;
    text-decoration-color: #73628A; */
}








/*sections*/

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 90vh;
    padding-top: 8vh;
    box-sizing: border-box;
    min-height: fit-content;
    width: 100%;
}

.section-container {
    display: flex;
}

















input, select {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}


html {font-size: 100%;} /*16px*/

body {
  background: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {margin-bottom: 1rem;}

h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 5.653rem;
}

h2 {font-size: 3.998rem;
    margin-bottom: -4%;
    font-family: 'Pattaya', sans-serif;
    color: #2E2E2E;
}

h3 {font-size: 2.827rem;}

h4 {font-size: 1.999rem;}

h5 {font-size: 1.414rem;
    line-height: 2.61rem;

}

small, .text_small {font-size: 0.707rem;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif; 
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85,85,85);
}

img {
    pointer-events: none;
}

a {
    text-decoration: none;
    text-decoration-color: white;

}  





/*BUTTONS*/

.btn-getting-started button {
    background-color: #A1A5FF;
    padding: 0.5rem 1rem;
    border-radius: 0.625rem;
    border: 4px solid #313D5A;
    /* box-shadow: 4px 4px 0px 0px #73628A; */
    box-shadow: inset 0 0 0 0 #CBC5EA;
    transition: ease-out 0.3s;
    outline: none;
}

.btn-download button {
    background-color: #313D5A;
    padding: 0.5rem 1.8rem;
    border-radius: 0.625rem;
    border: none;
    /* box-shadow: 0.5rem 0.5rem 0px 0px #73628A; */
    box-shadow: inset 0 0 0 0 #73628A;
    transition: ease-out 0.3s;
    outline: none;
    font-size: 1.414rem;  

}


.btn-download button a {
    color: white;
}

button h5 {
    line-height: 0;
    
}

button {
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition: all;
    
}

.btn-getting-started button:hover {
    /* background-color: var(--clr-accent);
    color: var(--clr-light); */
    box-shadow: inset 200px 0 0 0 #CBC5EA;

}

.btn-download button:hover {
    /* background-color: var(--clr-accent);
    color: var(--clr-light); */
    box-shadow: inset 200px 0 0 0 #73628A;

}


/*hamburger menu*/

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
   display: block;
   padding: 10px;
   text-align: center;
   font-size: 1.5rem;
   color: black;
   text-decoration: none;
   transition: all 0.3  ease-in-out; 
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;

}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px,5px);
}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px,-5px);
}

.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:first-child {
    opacity: 1;
}
.hamburger-icon span:first-child {
    transform: none;
}









.article .icon {
    cursor:default;
}

/* footer*/

footer {
    height: 26vh;
    margin: 0 1rem;
    display: none;
}

footer p {
    text-align: center;
}



.title {
    font-size: 3rem;
    text-align: center;
}


/*icons*/

.icon {
    cursor: pointer;
    height: 2rem;
}





.blue-bg {
    margin-top: 80vh;
    background-color: #313D5A;
    width: 100%;
    min-height: 200vh;
    z-index: -1;
    position: absolute;
}

.hide {
    display: none;
}