.line {
    margin-top: -7%;
    z-index: -3;
    position: relative;
    -webkit-background-size: cover;
    /* background-image: url("./ass/line.svg"); */
    /* background-position: -85% 75%; */
    /* background-position-x: -10%; */
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

nav {
    margin-top: -976.5%;

}



/*hero*/

.hero {
margin-top: 8%;
    width: 70%;
    height: 90vh;
    /* /* padding-top: 5%; */
    
}

.hero .right {
    right: 0;
    margin-left: 20%;
    justify-content: space-between;
}

.hero .col img {
    margin-top: -32%;
    width: 100%;
    position: relative;
    height: auto;
    animation-name: rotate;
    animation-duration: 8s;
    /* animation-timing-function: linear; */
    animation-iteration-count: infinite;
    animation-delay: 1s;

}

#plant-reverse {
    z-index: -1;
    animation-direction: reverse;
    margin-top: -130%;
    margin-left: -57%;
    animation-duration: 7s;
    
}















/*LOGOS*/

.companies {
    width: 100%;
    justify-content: center;
    align-content: center;
    overflow-x: hidden;

}

.logos {
    overflow: hidden;
    /* padding: 60px 0; */
    background: white;
    white-space: nowrap;
    z-index: -4;
    margin-bottom: 2rem;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient( to left, rgba(255,255,255,0), white );
}

.logos:after {
    right: 0;
    background: linear-gradient( to right, rgba(255,255,255,0), white );
}


.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide img {
    height: 4rem;
    margin: 0 3rem;
    pointer-events: inherit;
}

.logos-slide {
    animation: 30s slide infinite linear;
    display: inline-block;
}


video {
    display: block;
    height: 500px;
    /* margin: auto; */
    border-radius: 3%;
    position: relative;
    /* width: 100%; */
    pointer-events: none;
  }
  .video-wrap {
    z-index: -1;
    /* margin: 0 auto; */
    position: absolute;
    /* width: 90%; */
  }
  .video-wrap:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
















.explain {
    margin-left: 15%;
    width: 70%;
    align-self: center;
    justify-self: center;
  }
  

.explain .row {
    display: flex;
    justify-content: space-between;
    min-height: 84vh;
    align-items: center;
  }


.straight {
    padding-top: 10%;
}

.confused {
    text-align: center;
}


.roight {
    text-align: right;
    padding-bottom: 18%;
    padding-top: 10%;
}














  /*phone section die */

  .phoneandtext {
    overflow-y: hidden;
  }

.Phone {
    width: 70%;
    margin-left: 15%;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
}


.Phone-text {
    width: 70%;
    margin-left: 35%;
    justify-content: center;
    z-index: -1;

}

.first_para {
    height: -30vh;
}


#bitchass-crop {
    display: inline-block;
    width: auto;
    position: relative;
    margin-left: -35%;
    overflow: hidden; 
    border-radius: 0px 0px 80px 80px;

}


#bitchass-crop img {
    margin-top: -4%;
    transform: scale(1.1);

}

#pretty {
    z-index: -1;
    /* transform: rotate(90deg); */
    margin-left: -50%;
    padding-top: 30%;
    position: absolute;
    image-orientation: flip;
    transform: scaleX(-1);


}

.ROTATE {
    /*
    transform: scaleX(-1);
     -webkit-transform: scaleX(-1); */
}

.hidden {
    min-height: 60vh;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-120%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}





/*download*/

.download {
    margin-top:10vh ;
    padding-bottom: 4vh;
    align-items: center;
    display: flex;
}

/* margin-left: 12%; */



/* .app {
    

    
} */



#pretty {
    
    /* transform: rotate(90deg); */
}


.flower-mobile {
    background: color url('./ass/flower-mobile.svg') others;
    display: flex;
    justify-content: center;

}









