
/*animations*/
@keyframes slide {
    from {
        transform: translateX();
    }
    to {
        
        transform: translateX(-60%);

    }
}

@keyframes rotate {
    0% {
        transform: rotateZ();
    }
    50% {
        transform: rotateZ(10deg);
    }
    0% {
        transform: rotate();
    }
}


.nav-item {
    position: relative;
    color: #000000;
}

.active-nav {
    height: 3px;
    background: wheat;
    border-radius: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}



.logo {
  font-family: 'Michroma', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  
}


/*transistion*/

a, .btn {
    transition: all 300ms ease;
}





/*desktop nav */

.stretch-arc img {
    width: 100%;
    margin-top: -2vh;
    z-index: -1;
}

nav, .nav-links {
    display: flex;
}


nav {
    align-self: center;
    justify-content: space-around;
    align-items: center;
    margin-left: 8%;
    margin-right: 6%;
    margin-top: -10%;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    list-style: none;
    padding-left: 0px;

}


a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

/* a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(181, 181, 181);
} */








/*sections*/

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 90vh;
    padding-top: 8vh;
    box-sizing: border-box;
    min-height: fit-content;
    width: 100%;
}

.section-container {
    display: flex;
}


/*hero*/

.hero {
    width: 70%;
    height: 90vh;
    /* padding-top: 5%;
    padding-left: 7%; */
    
}

.hero .right {
    float: right;
    justify-content: space-between;
}

.hero .col img {
    width: 65%;
    position: relative;
    height: auto;
    animation-name: rotate;
    animation-duration: 8s;
    /* animation-timing-function: linear; */
    animation-iteration-count: infinite;
    animation-delay: 1s;

}

#plant-reverse {
    z-index: -1;
    animation-direction: reverse;
    margin-top: -80%;
    margin-left: -27%;
    animation-duration: 7s;
    
}


/*LOGOS*/

.companies {
    width: 100%;
    justify-content: center;
    align-content: center;
    overflow-x: hidden;

}

.logos {
    overflow: hidden;
    /* padding: 60px 0; */
    background: white;
    white-space: nowrap;
    position: relative;
    margin-bottom: 2rem;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient( to left, rgba(255,255,255,0), white );
}

.logos:after {
    right: 0;
    background: linear-gradient( to right, rgba(255,255,255,0), white );
}


.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide img {
    height: 4rem;
    margin: 0 3rem;
    pointer-events: inherit;
}

.logos-slide {
    animation: 35s slide infinite linear;
    display: inline-block;
}


video {
    display: block;
    height: 500px;
    /* margin: auto; */
    border-radius: 3%;
    position: relative;
    /* width: 100%; */
    pointer-events: none;
  }
  .video-wrap {
    z-index: -1;
    /* margin: 0 auto; */
    position: absolute;
    /* width: 90%; */
  }
  .video-wrap:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }


  .explain {
    margin-left: 15%;
    width: 70%;
    align-self: center;
    justify-self: center;
  }
  

  .explain .row {
    display: flex;
    justify-content: space-between;
    min-height: 84vh;
    align-items: center;
  }




  /*phone section die */

  .phoneandtext {
    overflow-y: hidden;
  }

.Phone {
    width: 70%;
    margin-left: 15%;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
}


.Phone-text {
    width: 70%;
    margin-left: 35%;
    justify-content: center;

}

.first_para {
    height: -30vh;
}


#bitchass-crop {
    display: inline-block;
    /* height: fit-content;
    width: 50%; */
    overflow: hidden;
    border-radius: 80px 300px 300px 80px;

}


#bitchass-crop img {
    margin-top: -20px;

}


.hidden {
    min-height: 60vh;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}





/*download*/

.download {
    margin-top:10vh ;
    width: 70%;
    margin-left: 12%;
    padding-bottom: 4vh;
}





.blue-bg {
    background-color: #313D5A;
    width: 100%;
    min-height: 200vh;
}