.stripping {
    /* position: static; */
    
}


.mill {
    animation-name: rotate360;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: none;

}



.pole {
    z-index: -1;
    margin-top: -85%;
    margin-left: 18%;
    transform: scale(0.5);
}

.gays {
    /* position: absolute; */
    transform: translateZ(-14px) scale(2.2);

}


#big {
    /* position: absolute; */
    transform: scale(2.8);

}

#big-electric-boogalo {
    /* position: absolute; */
    transform: scale(2);
    z-index: -2;
}

#medium {
    /* position: absolute; */
    transform: scale(1.6);
    z-index: -3;
}


.diagonal {
    display: flex;
    /* transform: rotate(-25deg); */
    margin-right: -42%;
    margin-top: -12%;
}
